extends layout

block content
  h2= profile.display_name
  p.small @#{profile.login}
  if profile.bio
    p= profile.bio
  if isOwn
    p
      a(href="/settings") Edit profile
  h3 Friends
  if friends.length
    ul.list
      each f in friends
        li
          a(href=`/u/${f.login}`)= f.display_name
          span.small  (@#{f.login})
  else
    p.small No friends yet



